h1 {
    color: #104474;
    padding-left: 35px;
    padding-top: 0px;
    font-weight: bold;
    font-size: 20px;
}

a {
    text-decoration: none;
}

body {
    margin-top: 50px;
    padding: 10;
    background-color: #f2f5f8;
    width: 100%;
    height: 100%;
}

.site-header {
    position: fixed;
    top:0; left: 0;
    width: 100%;
    padding: 15px;
    background-color: #104474;
    font-size: 18px;
}
.wrapper{
    width:200px;
    padding:20px;
    height: 120px;
    }
    
.search_bar {
   padding-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 10px;
   background-color: #104474;
   border-radius: 30px;
 }
#search_bar{
    border-radius: 30px;

}

footer{
    color: #104474;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.nav-link {
    padding-left: 10px;
    padding-right: 10px;
}

#file-input {
    display: none;
}

#uploadForm {
    padding: 25px;
    text-align: center;
}

#drop-area {
    max-width: 80%;
    max-height: 300px;
    min-height: 175px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#comment{
    max-width: 100%;
    max-height: 300px;
    min-height: 175px;
    width: 75px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#drop-area:hover {
    border: 2px solid #999;
}

#file-label {
    cursor: pointer;
}

#file-image {
    width: 6%;
}

.inactive {
    display: none;
}

.button {
  background-color: #111122;
  border: 1px solid #111122;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}


.highlight-red{
    display: inline-block;
    padding: .25em 0;
    background: #ff0707;
    color: #ffffff;
}


.highlight{
    display: inline-block;
    padding: .25em 0;
    background: #fffb07;
    color: #ffffff;
}

.list-rules {
    max-height: 575px;
    overflow-y: auto;
    padding-right: 2px;
}

.list-rules::-webkit-scrollbar {
    width: 16px;
}

.list-rules::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

.list-rules::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #104474;
}

#rule-item {
    height: 70px;
    border: 2px solid black;
    border-radius: 8px;
    display:flex;
}

.rule-description {
    padding-top: 20px;
    padding-left: 10px;
    width: 72%;
}

#edit-btn {
    margin-left: 10px;
    margin-bottom: 10px;
}

#delete-btn {
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #d13535;
    border-color: #d13535;
}

#add-rules-btn {
    background-color: #999;
    border-color: #999;
}

#add-rules-img {
    width: 3%;
    margin-left: auto;
    margin-right: auto;
}

.sidebar {
    position: fixed;
    display: flex;
    top: 300px;
    left: 97%;
    width: 100px; /* Ajustez la largeur selon vos besoins */
    padding: 20px;
}

.sidebar ul {
    margin-right: 10px;
}

.copyable {
    cursor: pointer;
    background-color: #fefefe;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    width: 50px;
    border: 1px solid black;
    border-radius: 8px;
}

li:hover {
    background-color: #999;
}

.modal {
    display: none;
    position: fixed;
    left: 95%;
    top: 150px;
    width: 240px;
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}